html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* Grid mobile */
.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.page-header {
  background-color: #ffffff;
}
.page-header > .container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.page-header__logo {
  background-image: url("../img/logo-mobile.png"), url("../img/logo-mobile-header.png");
  background-repeat: no-repeat;
  background-position: 0 50%, 90px 50%;
  text-indent: -1000px;
  width: 195px;
  height: 38px;
}
.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.page-header__logo-wrapper {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  flex-grow: 1;
  justify-content: space-around;
}
.main-nav {
  flex-grow: 1;
  width: 100%;
  /* display: none;*/
}
.main-nav__toggle {
  border: 0 none;
  border-top: 2px solid #222222;
  background: transparent none;
  width: 24px;
  height: 18px;
  text-indent: -1000px;
  position: relative;
  cursor: pointer;
}
.main-nav__toggle::after,
.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #222222;
  width: 24px;
  height: 2px;
}
.main-nav__toggle::after {
  top: 14px;
}
.main-nav__toggle--active {
  transform: rotate(45deg) translateY(10px);
}
.main-nav__toggle--active::before {
  transform: rotate(-90deg);
  top: -2px;
}
.main-nav__toggle--active::after {
  display: none;
}
.menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-list__item {
  border-top: 1px solid #e6e6e6;
  padding: 20px 0 20px 20px;
  text-align: center;
}
.menu-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}
.menu-list__link {
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}
.pick-program {
  background: transparent url("../img/green-cat.png") no-repeat 50% 0;
  background-size: contain;
}
.pick-program__wrapper {
  border-top: 1px solid transparent;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}
.pick-program__img {
  width: 100%;
  height: auto;
}
.title-secondary {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 10px 0;
  padding: 0;
}
.pick-program__title {
  color: #ffffff;
  display: block;
  text-align: center;
}
.pick-program__subtitle {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 20px 0;
}
.link-btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #68b738;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 13px 0;
}
.link-btn:hover,
.link-btn:link,
.link-btn:active {
  background-color: #5eaa2f;
}
.link-btn:active {
  color: rgba(255, 255, 255, 0.3);
}
.diet-programs__wrapper {
  display: flex;
  flex-direction: column;
}
.diet {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px 0 0 0;
}
.title-third {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  padding: 0;
}
.diet__title {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 0 20px 75px;
  padding-top: 5px;
  vertical-align: middle;
  position: relative;
}
.diet__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75px;
  width: 50px;
  height: 53px;
}
.diet__title--slim::before {
  background: transparent url("../img/cat-icon-slim.png") no-repeat scroll 0 0;
  background-size: contain;
}
.diet__title--strong::before {
  background: transparent url("../img/cat-icon-strong.png") no-repeat scroll 0 0;
  background-size: contain;
  width: 67px;
  left: -80px;
}
.diet__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.diet__link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #111111;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;
  padding: 15px 0 0;
}
.diet__link::after {
  content: "";
  background: transparent url("../img/right-arrow-long.png") no-repeat scroll 0 0;
  display: inline-block;
  width: 24px;
  height: 11px;
  margin: 0 0 2px 10px;
}
.diet__link:hover::after,
.diet__link:active::after {
  background-image: url("../img/right-arrow-verylong.png");
  width: 33px;
}
.diet__link:active {
  opacity: 0.3;
}
.howitworks__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.howitworks__title {
  margin-top: 20px;
  margin-bottom: 40px;
}
.howitworks__item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 25px 80px;
  padding: 5px 0 0 0;
  position: relative;
}
.howitworks__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -80px;
  background: transparent url("../img/advantage-1.png") no-repeat scroll 0 0;
  background-size: contain;
  width: 60px;
  height: 60px;
}
.howitworks__item:nth-child(2)::before {
  background-image: url("../img/advantage-2.png");
}
.howitworks__item:nth-child(3)::before {
  background-image: url("../img/advantage-3.png");
}
.howitworks__item:nth-child(4)::before {
  background-image: url("../img/advantage-4.png");
}
.live-example {
  background-color: #f2f2f2;
}
.live-example__wrapper {
  padding-bottom: 30px;
}
.live-example__title {
  padding-top: 30px;
  margin-bottom: 40px;
}
.live-example__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.border-boxes__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0;
}
.live-example__border-box {
  font-size: 24px;
  border: 1px solid #cdcdcd;
  position: relative;
  width: 125px;
  padding: 5px 0 12px;
  text-align: center;
  text-transform: uppercase;
}
.live-example__legend {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: auto;
  color: #444444;
  position: absolute;
  bottom: -20px;
  left: 20px;
  width: 80px;
  background-color: #f2f2f2;
  text-transform: lowercase;
}
.live-example__value {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  width: 100%;
  flex-grow: 1;
  margin: 20px 0 0 0;
}
.live-example__before-after {
  margin: 30px 0 0 0;
}
.before-after__slider {
  display: flex;
  justify-content: center;
}
.before-after__cat-image {
  width: 100%;
  height: auto;
}
.before-after__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: transparent none;
  border: 0 none;
  cursor: pointer;
  position: relative;
}
.before-after__label--before::after,
.before-after__label--after::before {
  content: "";
  background: white none;
  border: 1px solid #cdcdcd;
  width: 40px;
  height: 10px;
  display: inline-block;
}
.before-after__label--before::after {
  border-right: 0 none;
  border-radius: 5px 0 0 5px;
  margin-left: 20px;
}
.before-after__label--after::before {
  border-left: none;
  border-radius: 0 5px 5px 0;
  margin-right: 20px;
}
.before-after__button--after:checked ~ .before-after__label--after::after,
.before-after__button--before:checked ~ .before-after__label--before::before {
  content: "";
  background: #68b738 none;
  width: 35px;
  height: 6px;
  position: absolute;
  right: 2px;
  top: 8px;
  border-radius: 3px;
}
.before-after__button--after:checked ~ .before-after__label--after::after {
  left: 0;
  right: auto;
}
.before-after__button--after,
.before-after__button--before {
  display: none;
}
.location__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 25px;
  align-items: center;
}
.location__invite {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 125px;
}
.location__address {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 140px;
  margin: 0;
}
.location__address br {
  display: none;
}
.location__map-wrapper {
  display: flex;
}
.location__map {
  width: 100%;
}
.page-footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}
.page-footer__logo-wrap {
  padding: 30px 0;
  text-align: center;
}
.page-footer__location {
  background-color: #ffffff;
}
.page-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}
.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.social__item {
  margin-right: 40px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__list {
  list-style: none;
  display: flex;
}
.social__image {
  transform: scale(0.7);
}
.copyright__link {
  text-decoration: none;
  color: #444444;
}
.copyright__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
}
.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.copyright__logo {
  width: 27px;
  height: 34px;
}
.primary-title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}
.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.product {
  width: 100%;
  border-top: 1px solid #ededed;
  padding-bottom: 25px;
}
.product__info-wrap {
  display: flex;
}
.product-image__link {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 140px;
  text-decoration: none;
}
.product-image {
  transform: scale(0.6);
}
.product__description {
  width: 100%;
}
.product-title__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
}
.product-title__title {
  width: 75px;
  margin: 20px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.product__spec {
  font-size: 12px;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  border-spacing: 0;
  width: 100%;
}
.product__link {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  display: inline-block;
}
.right-col {
  text-align: right;
}
.show-more {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: transparent none;
  border-bottom: 1px solid #ededed;
}
.show-more__image {
  align-self: center;
  transform: scale(0.5);
}
.show-more__link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
  padding: 10px 0;
}
.show-more__link:link,
.show-more__link:hover,
.show-more__link:active {
  background-color: #ebebeb;
}
.show-more__link:active {
  color: rgba(68, 68, 68, 0.3);
}
.show-more__text {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 10px 0 10px;
}
.show-more__info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: #444444;
  margin: 0 0 20px;
}
.subtitle-wline {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 30px 0 35px;
}
.add-products__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.product-minor {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cdcdcd;
  padding-bottom: 20px;
}
.product-minor:last-child {
  border-bottom: 1px solid #cdcdcd;
}
.product-minor__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin: 15px 0 10px;
}
.product-minor__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #444444;
  width: 100%;
  margin: 0 0 10px;
  border-spacing: 0;
}
.table__right-align {
  text-align: right;
}
.product-minor__link {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
}
.gift {
  background: transparent url("../img/gift-photo-mobile.png") no-repeat scroll 0 0;
  padding: 65px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 40px 0 35px 0;
}
.gift__icon {
  margin-bottom: 65px;
}
.gift__text {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  width: 165px;
}
.page-catalog .location-address-wrapper {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .page-header > .container {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .page-header__wrapper {
    padding-top: 10px;
  }
  .page-header__logo-wrapper {
    justify-content: space-between;
    padding-left: 0;
  }
  .page-header__logo {
    background-image: url("../img/logo-tablet.png");
    width: 173px;
    height: 58px;
  }
  .main-nav {
    width: auto;
  }
  .main-nav__list {
    flex-direction: row;
    justify-content: flex-end;
  }
  .menu-list__item {
    border: 0 none;
    padding-top: 25px;
    padding-left: 35px;
  }
  .menu-list__item:last-child {
    border: 0 none;
  }
  .menu-list__link {
    font-size: 18px;
  }
  .menu-list__item--active .menu-list__link {
    border-bottom: 2px solid #68b738;
    padding-bottom: 5px;
  }
  .menu-list__link:hover {
    opacity: 0.6;
  }
  .menu-list__link:active {
    opacity: 0.3;
  }
  .main-nav__toggle {
    display: none;
  }
  .title-secondary {
    font-size: 60px;
    line-height: 60px;
  }
  .pick-program {
    background: transparent none;
  }
  .pick-program__wrapper {
    padding-left: 90px;
    position: relative;
    padding-top: 55px;
  }
  .pick-program__link {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 290px;
    left: 90px;
    width: 245px;
    padding: 17px 0;
  }
  .pick-program__img {
    width: 709px;
    height: 609px;
    margin-left: -90px;
  }
  .pick-program__title {
    color: #111111;
    width: 420px;
    text-align: left;
  }
  .pick-program__subtitle {
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
  .diet {
    padding: 80px 60px 60px 55px;
  }
  .diet__description {
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    width: 370px;
  }
  .diet--slim {
    background-image: url("../img/cat-icon-slim.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
  }
  .diet--strong {
    background-image: url("../img/cat-icon-strong.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
  }
  .diet--strong .diet__description {
    width: 320px;
  }
  .title-third {
    font-size: 36px;
    line-height: 37px;
  }
  .diet__title {
    margin-left: 0;
  }
  .diet__title::before {
    display: none;
  }
  .diet__link {
    font-size: 20px;
    border: 0 none;
  }
  .howitworks__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .howitworks__item {
    margin: 60px 175px 30px 0;
    padding-top: 115px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    width: 210px;
  }
  .howitworks__item:nth-child(2n) {
    margin-right: 0;
  }
  .howitworks__item::before {
    left: 0;
    width: 80px;
    height: 80px;
  }
  .howitworks__item::after {
    font-family: "Oswald", Arial, sans-serif;
    position: absolute;
    top: 90px;
    right: 0;
    color: #f2f2f2;
    font-size: 281px;
    z-index: -1;
  }
  .howitworks__item:nth-child(4)::after {
    content: "4";
  }
  .howitworks__item:nth-child(3)::after {
    content: "3";
  }
  .howitworks__item:nth-child(2)::after {
    content: "2";
  }
  .howitworks__item:nth-child(1)::after {
    content: "1";
  }
  .howitworks__wrap {
    margin: 50px 0;
  }
  .live-example {
    background: transparent none;
    border-top: 1px solid #e6e6e6;
  }
  .live-example__wrapper {
    background: linear-gradient(#fff 0%, #fff 60%, #f2f2f2 60%);
  }
  .live-example__text {
    font-size: 16px;
    line-height: 24px;
  }
  .border-boxes__wrapper {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .live-example__border-box {
    font-size: 30px;
    line-height: 37px;
    width: 160px;
    padding: 10px 0 17px;
    margin: 20px 40px 0 0;
  }
  .live-example__legend {
    background-color: #fff;
    font-size: 14px;
    line-height: 14px;
    left: 40px;
  }
  .live-example__value {
    flex-grow: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    width: 175px;
    margin-top: 35px;
    margin-left: 130px;
  }
  .live-example__before-after {
    margin-top: 120px;
  }
  .location__invite {
    font-size: 20px;
    line-height: 25px;
  }
  .location__address {
    font-size: 16px;
    line-height: 20px;
    width: 170px;
    text-align: right;
    color: #444444;
  }
  .location__address br {
    display: initial;
  }
  .page-footer__wrapper {
    flex-direction: row;
    align-items: center;
    padding: 30px 0 20px;
  }
  .page-footer__social {
    border: 0 none;
  }
  .social__image {
    transform: scale(1);
  }
  .copyright__text {
    margin-right: 20px;
    width: 140px;
    text-align: right;
  }
  /* CATALOG page */
  .primary-title {
    font-size: 60px;
  }
  .catalog-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .product {
    background: linear-gradient(#ffffff 25%, #f2f2f2 25%);
    width: 325px;
    padding-top: 90px;
    padding: 40px;
    box-sizing: border-box;
    border-top: 0 none;
  }
  .product__info-wrap {
    flex-direction: column;
  }
  .product-image__link {
    height: 205px;
    margin-bottom: 45px;
    width: 100%;
  }
  .product-title__title {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .product-title__link {
    width: 125px;
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
  }
  .product__spec td {
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 0;
  }
  .product__link {
    margin-top: 35px;
  }
  .product-image {
    width: auto;
    transform: scale(1);
  }
  .product.show-more {
    align-items: center;
    margin-top: 140px;
    padding-top: 50px;
    background: transparent none;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
  }
  .show-more__image {
    transform: scale(1);
    margin-bottom: 50px;
  }
  .show-more__text {
    font-size: 20px;
    margin-bottom: 25px;
    width: 135px;
  }
  .show-more__info {
    font-size: 16px;
    line-height: 20px;
    width: 170px;
    margin-bottom: 69px;
  }
  .subtitle-wline {
    font-size: 36px;
    line-height: 36px;
    margin: 70px 0 75px;
  }
  .product-minor {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0 27px 0;
  }
  .product-minor__title {
    margin: 0 0 25px;
  }
  .product-minor__description {
    font-size: 16px;
    line-height: 20px;
    width: 220px;
    margin: 0;
  }
  .product-minor__title {
    font-size: 20px;
    line-height: 20px;
  }
  .gift {
    background-image: url("../img/gift-photo-tablet.png");
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 75px;
    margin: 70px 0 75px;
  }
  .gift__icon {
    margin: 0;
  }
  .gift__text {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
  .page-header__wrapper {
    padding-top: 40px;
  }
  .page-header > .container {
    width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
  .wrapper {
    background: transparent url("../img/green-cat.png") no-repeat 100% 0;
    width: 1440px;
    margin: 0 auto;
  }
  .page-header {
    background-color: transparent;
  }
  .menu-list__link {
    color: #fff;
  }
  .menu-list__item--active .menu-list__link {
    border-color: #fff;
  }
  .page-header__logo {
    background-image: url("../img/logo-desktop.svg");
    width: 202px;
    height: 59px;
  }
  .pick-program__wrapper {
    padding-left: 80px;
    display: flex;
    flex-direction: row;
  }
  .pick-program__title-wrapper {
    padding-top: 45px;
  }
  .pick-program__link {
    left: 80px;
  }
  .pick-program__img {
    width: 552px;
    height: 499px;
    margin-left: -50px;
  }
  .pick-program__subtitle {
    margin: 45px 0;
  }
  .pick-program__link {
    top: 340px;
  }
  .diet-programs__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
  }
  .diet {
    width: 570px;
    box-sizing: border-box;
  }
  .diet--slim,
  .diet--strong {
    background-image: none;
  }
  .diet__title {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 0 55px 160px;
    padding-top: 5px;
    vertical-align: middle;
    position: relative;
  }
  .diet__title::before {
    display: block;
    content: "";
    position: absolute;
    top: -30px;
    left: -160px;
    width: 100px;
    height: 106px;
  }
  .diet__title--slim::before {
    background: transparent url("../img/cat-icon-slim.png") no-repeat scroll 0 0;
    background-size: contain;
  }
  .diet__title--strong::before {
    background: transparent url("../img/cat-icon-strong.png") no-repeat scroll 0 0;
    background-size: contain;
    width: 134px;
    height: 100px;
    left: -180px;
  }
  .diet--strong .diet__description,
  .diet__description {
    width: auto;
  }
  .howitworks__list {
    justify-content: space-between;
  }
  .howitworks__item {
    margin-right: 0;
  }
  .howitworks__wrap {
    margin: 70px 0;
  }
  .live-example {
    border-top: 0 none;
  }
  .live-example__wrapper {
    background: linear-gradient(#fff 0%, #fff 27%, #f2f2f2 27%);
    padding-bottom: 80px;
  }
  .live-example__title {
    margin-bottom: 145px;
  }
  .live-example__legend {
    background-color: #f2f2f2;
    top: 69px;
    left: 20px;
    width: 115px;
  }
  .border-boxes__wrapper {
    margin-top: 45px;
  }
  .live-example__border-box {
    padding: 20px 0;
  }
  .live-example__border-box--days .live-example__legend {
    width: 150px;
    left: 5px;
  }
  .live-example__content {
    display: flex;
    justify-content: space-between;
  }
  .live-example__left-col {
    width: 440px;
  }
  .border-boxes__wrapper {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .live-example__value {
    margin-left: 0;
    margin-top: 60px;
    width: auto;
  }
  .live-example__price {
    margin-left: 60px;
  }
  .live-example__before-after {
    margin-top: 0;
  }
  .before-after__slider {
    margin-top: 40px;
  }
  .before-after__label {
    font-size: 20px;
  }
  .before-after__button--after:checked ~ .before-after__label--after::after,
  .before-after__button--before:checked ~ .before-after__label--before::before {
    top: 10px;
  }
  .page-footer__location {
    position: relative;
  }
  .location-address-wrapper {
    position: absolute;
    top: 105px;
    z-index: 1000;
    width: 100%;
  }
  .location__wrapper {
    background-color: #ffffff;
    padding: 70px 85px 65px 75px;
    width: 570px;
    margin: 0;
    box-sizing: border-box;
  }
  .location__map {
    height: 400px;
  }
  .location__address {
    text-align: left;
  }
  /* CATALOG page */
  .page-catalog.wrapper {
    background: transparent none;
  }
  .page-catalog .menu-list__link {
    color: #111111;
  }
  .menu-list__item--active .menu-list__link {
    border-color: #68b738;
  }
  .catalog-list {
    justify-content: flex-start;
  }
  .product {
    margin-right: 80px;
    width: 245px;
  }
  .product:nth-child(4n) {
    margin-right: 0;
  }
  .product__spec {
    font-size: 16px;
  }
  .product-title__title {
    margin-top: 0;
  }
  .product__spec td {
    padding: 7px 0;
  }
  .more-products__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 85px;
  }
  .add-products {
    width: 895px;
  }
  .product-minor {
    flex-wrap: nowrap;
    align-items: center;
    padding: 15px 0;
  }
  .product-minor__link {
    width: 245px;
  }
  .product-minor__title {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 0;
  }
  .product-minor__description {
    width: 285px;
    margin-right: 40px;
  }
  .gift {
    width: 245px;
    flex-direction: column;
    background-image: url("../img/gift-photo-desktop.png");
    align-self: flex-end;
    margin-bottom: 0;
    padding-bottom: 40px;
  }
  .gift__icon {
    margin-bottom: 65px;
  }
  .gift__text {
    text-align: center;
  }
}
